<!DOCTYPE html>
<html>
    <head>
        <title>Delete Account</title>
        <link rel = "stylesheet" href="./static/css/update.css"/>
       
    </head>
    <body>
        <h1>Delete Account</h>
        <h5>Are you sure you want to delete your account?</h5>
            <form id="deleteForm">
                <p for="username"><b>Username:</b></p>
                <p><input type="text" id="username" name="username"></p>
                <p for="password"><b>Password:</b></p>
                <p><input type="password" id="password" name="password"></p>
                <p><button type="button" onclick="deleteBtn()"><b>Delete Account</b></button></p>
            </form>

        <script type="text/javascript" src="./static/js/delete.js"></script>

    </body>
</html>