<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel = "stylesheet" href="./static/css/update.css"/>
    </head>
    <body>
        <h1>Login Page</h>
        <form action='/login' method='post'>
            <p>Username:</p>
            <p><input type='text' name='username' required/></p>
            <p>Password:</p>
            <p><input type='password' name='password' required/></p>
            <p><a href = "/change_password">Click to change password</a></p>
            <p><a href = "/delete_acc">Delete Account</a></p>
            <p><input type='submit' value='Login'/></p>
        </form>

    </body>
</html>
