<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <link rel="shortcut icon" href="./static/images/leaf.ico" type="">
        <link rel = "stylesheet" href="./static/css/update.css"/>
    </head>
    <body>
        <h1>Register Page</h1>
        <form action='/register' method='post'>
            <p><b>Username:</b></p>
            <p><input type='text' name='username' required/></p>
            <p><b>Password:</b></p>
            <p><input type='password' name='password' required/></p>
            <p><a href = "/login"><b>Click for login</b></a></p>
            <p><input type='submit' value='Register'/></p>
        </form>
    </body>
</html>